<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<import resource="dao.xml" />

	<bean id="producto.action" class="ar.com.uade.action.ProductoAction">
		<property name="producto" ref="producto.business" />
	</bean>

	<bean id="proveedor.action" class="ar.com.uade.action.ProveedorAction">
		<property name="proveedor" ref="proveedor.business" />
	</bean>

	<bean id="reporte.action" class="ar.com.uade.action.ReporteAction">
		<property name="reporte" ref="reporte.business" />
	</bean>

	<bean id="vendedor.action" class="ar.com.uade.action.VendedorAction">
		<property name="vendedor" ref="vendedor.business" />
	</bean>

	<bean id="venta.action" class="ar.com.uade.action.VentaAction">
		<property name="venta" ref="venta.business" />
	</bean>


	<!-- BUSINESS -->
	<bean id="producto.business" class="ar.com.uade.business.impl.ProductoBusinessImpl">
		<property name="productoDAO" ref="producto.dao" />
	</bean>

	<bean id="proveedor.business" class="ar.com.uade.business.impl.ProveedorBusinessImpl">
		<property name="proveedorDAO" ref="proveedor.dao" />
	</bean>

	<bean id="reporte.business" class="ar.com.uade.business.impl.ReporteBusinessImpl">
		<property name="reporteDAO" ref="reporte.dao" />
	</bean>

	<bean id="vendedor.business" class="ar.com.uade.business.impl.VendedorBusinessImpl">
		<property name="vendedorDAO" ref="vendedor.dao" />
	</bean>

	<bean id="venta.business" class="ar.com.uade.business.impl.VentaBusinessImpl">
		<property name="ventaDAO" ref="venta.dao" />
	</bean>

	<!-- DAO -->
	<bean id="producto.dao" class="ar.com.uade.dao.impl.ProductoDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="proveedor.dao" class="ar.com.uade.dao.impl.ProveedorDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="reporte.dao" class="ar.com.uade.dao.impl.ReporteDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="vendedor.dao" class="ar.com.uade.dao.impl.VendedorDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="venta.dao" class="ar.com.uade.dao.impl.VentaDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>


	<import resource="transaction.xml" />
</beans>