<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<import resource="dao.xml" />

	<bean id="producto.action" class="ar.com.uade.action.ProductoAction"
		scope="prototype">
		<property name="producto" ref="producto.business" />
	</bean>

	<bean id="proveedor.action" class="ar.com.uade.action.ProveedorAction"
		scope="prototype">
		<property name="proveedor" ref="proveedor.business" />
	</bean>

	<bean id="reporte.action" class="ar.com.uade.action.ReporteAction"
		scope="prototype">
		<property name="reporte" ref="reporte.business" />
	</bean>

	<bean id="vendedor.action" class="ar.com.uade.action.VendedorAction"
		scope="prototype">
		<property name="vendedor" ref="vendedor.business" />
	</bean>

	<bean id="venta.action" class="ar.com.uade.action.VentaAction"
		scope="prototype">
		<property name="venta" ref="venta.business" />
	</bean>


	<!-- BUSINESS -->
	<bean id="producto.business" class="ar.com.uade.business.impl.ProductoBusinessImpl">
		<property name="comboBusiness" ref="combos.business" />
		<property name="productoDAO" ref="producto.dao" />
	</bean>

	<bean id="combos.business" class="ar.com.uade.business.impl.CombosBusinessImpl">
		<property name="proveedorBusiness" ref="proveedor.business" />
		<property name="colorBusiness" ref="color.business" />
		<property name="talleBusiness" ref="talle.business" />
		<property name="tipoProductoBusiness" ref="tipoProducto.business" />
		<property name="marcaBusiness" ref="marca.business" />
	</bean>

	<bean id="tipoProducto.business" class="ar.com.uade.business.impl.TipoProductoBusinessImpl">
		<property name="tipoProductoDAO" ref="tipoProducto.dao" />
	</bean>

	<bean id="color.business" class="ar.com.uade.business.impl.ColorBusinessImpl">
		<property name="colorDAO" ref="color.dao" />
	</bean>

	<bean id="talle.business" class="ar.com.uade.business.impl.TalleBusinessImpl">
		<property name="talleDAO" ref="talle.dao" />
	</bean>

	<bean id="marca.business" class="ar.com.uade.business.impl.MarcaBusinessImpl">
		<property name="marcaDAO" ref="marca.dao" />
	</bean>

	<bean id="proveedor.business" class="ar.com.uade.business.impl.ProveedorBusinessImpl">
		<property name="proveedorDAO" ref="proveedor.dao" />
	</bean>

	<bean id="reporte.business" class="ar.com.uade.business.impl.ReporteBusinessImpl">
		<property name="comboBusiness" ref="combos.business" />
		<property name="ventaBusiness" ref="venta.business" />
		<property name="cambioBusiness" ref="cambio.business" />
	</bean>

	<bean id="vendedor.business" class="ar.com.uade.business.impl.VendedorBusinessImpl">
		<property name="vendedorDAO" ref="vendedor.dao" />
	</bean>

	<bean id="venta.business" class="ar.com.uade.business.impl.VentaBusinessImpl">
		<property name="ventaDAO" ref="venta.dao" />
	</bean>

	<bean id="cambio.business" class="ar.com.uade.business.impl.CambioBusinessImpl">
		<property name="cambioDAO" ref="cambio.dao" />
	</bean>

	<!-- DAO -->
	<bean id="producto.dao" class="ar.com.uade.dao.impl.ProductoDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="proveedor.dao" class="ar.com.uade.dao.impl.ProveedorDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="vendedor.dao" class="ar.com.uade.dao.impl.VendedorDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="venta.dao" class="ar.com.uade.dao.impl.VentaDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="cambio.dao" class="ar.com.uade.dao.impl.CambioDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="color.dao" class="ar.com.uade.dao.impl.ColorDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="talle.dao" class="ar.com.uade.dao.impl.TalleDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="marca.dao" class="ar.com.uade.dao.impl.MarcaDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<bean id="tipoProducto.dao" class="ar.com.uade.dao.impl.TipoProductoDAOImpl">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<import resource="transaction.xml" />
</beans>